@import './variable';

body {
  -webkit-font-smoothing: antialiased;
  background-color: #ececec;
  background-image: linear-gradient(180deg, #031a49, $zan-doc-blue);
  font-family: "PingFang SC", "Helvetica Neue", Helvetica,Arial, sans-serif;
}

code {
  display: block;
  font-size: 13px;
  overflow-x: auto;
  font-weight: 400;
  line-height: 21px;
  border-radius: 4px;
  margin-bottom: 25px;
  white-space: pre-wrap;
  background-color: #f5f7fa;
  color: $zan-doc-code-color;
  padding: 18px 10px 18px 20px;
  font-family: "Source Code Pro", "Monaco", "Inconsolata", monospace;
}
