@import './variable';

body {
  margin: 0;
  color: #333;
  font-size: 16px;
  min-width: 1100px;
  overflow-x: auto;
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  font-family: PingFang SC, "Helvetica Neue", Arial, sans-serif;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.van-doc {
  background-color: #ececec;
  background-image: linear-gradient(180deg, #031a49, $van-doc-blue);
}
