@import './variable';

.zan-doc-table {
  width: 100%;
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 45px;
  background-color: #fff;
  border-collapse: collapse;
  color: $zan-doc-text-color;
  font-family: Source Code Pro,Monaco,Inconsolata,monospace;

  th {
    padding: 8px 10px;
    text-align: left;
    background-color: #f5f5f5;
    border: 1px solid $zan-doc-border-color;

    &:first-child {
      padding-left: 10px;
    }
  }

  td {
    padding: 10px;
    border: 1px solid $zan-doc-border-color;
  }
}