$zan-doc-blue: #38f;
$zan-doc-text-color: #333;
$zan-doc-grey: #999;
$zan-doc-dark-grey: #666;
$zan-doc-light-grey: #ccc;
$zan-doc-border-color: #eaeaea;
$zan-doc-code-color: #455a64;
$zan-doc-padding: 30px;

/* header */
$zan-doc-header-top-height: 60px;
$zan-doc-header-bottom-height: 50px;

/* simulator */
$zan-doc-simulator-width: 375px;
$zan-doc-simulator-small-width: 320px;
$zan-doc-simulator-height: 620px;
$zan-doc-simulator-small-height: 560px;

